# Ignore directories
.git
node_modules
__pycache__
temp/
dist/
tests/
docs/
.hypothesis/
# labs/
output/
reviews/
scripts/
scans/
auditor-prompts/


# Ignore specific file types
*.log
*.md
*.jpeg
*.jpg
.env
.github
.vscode
conftest.py
